<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/divbs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
<form>
    <div class="form-row">
        <div class="form-group col-md-4">
            <%= label :job, :resident_name, 'Resident Name'  %>
            <%= text_field_tag :resident_name, job[:FirstName], class: "form-control", readonly: true %>
        </div>
        
        <div class="form-group col-md-4">
            <%= label :job, :phone, 'Phone' %>
            <%= text_field_tag :phone, job[:PhoneNumber],class: "form-control", readonly: true %>
        </div>
         <div class="form-group col-md-4">
            <%= label :job, :best_time_to_call, 'Best Time To Call' %>
            <%= text_field_tag :best_time_to_call, job[:BestTimeToCall], class: "form-control", readonly: true %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <%= label :job, :partnership, 'Partnership'  %>
            <%= text_field_tag :partnership, job[:Partnership], class: "form-control", readonly: true %>
        </div>
        <div class="form-group col-md-4">
            <%= label :job, :status, 'Status' %>
            <%= text_field_tag :status, job[:Status], class: "form-control", readonly: true %>
        </div>
        <div class="form-group col-md-4">
            <%= label :job, :job_number, 'Job Number' %>
            <%= text_field_tag :job_number, job[:JobNumber], class: "form-control", readonly: true %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group  col-md-12">
            <%= label :job, :address, 'Address' %>
            <%= text_field_tag :address, job[:Address], class: "form-control", readonly: true %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group  col-md-12">
            <%= label :job, :description, 'Job Description' %>
            <%= text_field_tag :job_description, job[:JobDescription], class: "form-control", readonly: true %>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group  col-md-12">
            <%= label :job, :comment, 'Comment'  %>
            <%= text_field_tag :comment, job[:Comment], class: "form-control", readonly: true %>
        </div>
  </div>
  <div>
       <%= link_to 'Edit', edit_job_path( job[:JobNumber]), :class => 'btn btn-primary' %>
  </div>

</form>