<table class="table table-striped col-md-12">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Staff Level</th>
      <th>Partnership ID</th>
      <th>UIN</th>
      <th>Superior Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.first_name %> <%= user.last_name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.level %>
        </td>
        <td>
          <%= user.partnership %>
        </td>
        <td>
          <%= user.uin %>
        </td>
        <td>
          <%= user.superior_email %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>