<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'style.css' %>
      <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
      <link href="style.css" rel="stylesheet">
      <link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
    <title>BigEvent</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application' %>
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
    <!--    #for job_status-->
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js", "chartkick" %>
    <%= javascript_include_tag "application", "chartkick" %>
  </head>

  <body>
      <!-- Navigation -->
      <div class="img-fluid">
        <%= link_to  image_tag('https://drive.google.com/uc?export=view&id=12vo0BS-T6mbNp7EnUTb9w-U_kW1rnbLK', style: 'width:100%;height:auto;'), root_path %>
      </div>

      <!-- Navigation -->
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <% if is_logged_in?%>
            <h2 class="font-weight-bold"> Welcome <%= current_user.first_name %>!</h2>
          <% else%> 
            <h2 class="font-weight-bold"> Welcome! </h2>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%=link_to  "Home", root_path, class: "nav-link", id: "home" %>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bigeventonline.tamu.edu/jobrequest" id="jobrequest">Job Request</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://bigeventonline.tamu.edu/signup" id="signup">Sign Up</a>
              </li>  
              <% if !is_logged_in? %>
                <li class="nav-item">
                  <a class="nav-link" href="/auth/google_oauth2" id="login">Log In with Google</a>
                </li>
              <% else %>
                <% if current_user.level == 'EX'%>
                  <li class="nav-item">
                    <a class="nav-link" href="/status"> Job Status </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users">Staff Directory</a>
                  </li>
                <% end %>
                <li class="nav-item">
                  <a class="nav-link" href="/logout" id="logout">Log out</a>
                </li>
              <% end %>
              
            </ul>
          </div>
        </div>
      </nav>
    <div class="container-fluid padding">
      <%= render 'layouts/flash' %>
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
      <hr class="my-4">
    <div class="d-flex justify-content-center">
      <h5>The Big Event at Texas A&M University</h5>
    </div>
      <hr class="my-4">
  </body>
</html>
